

.tr1 {
    background-color: #444444;
    color: #ffffff;
    height: 40px;
    font-weight: bold;
    font-size: 13px;
}

.tr2 {
    font-size: 14px;
    height: 35px;
    padding: 15px;
    color: gray;
}

.control_panel button {
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    border: none;
}
.control_panel .modify_btn {
    background: #6495ed;
    color: #ffffff;

}
.control_panel .delete_btn {
    background: palevioletred;
    color: #ffffff;
}

.modify_btn:hover {
    background-color: dodgerblue;
    color: #ffffff;
}

.delete_btn:hover {
    background-color: orangered;
    color: #ffffff;
}

.wait {
    padding: 3px;
    border: none;
    background: #6495ed;
    color: #ffffff;
}

.wait:hover {
    background-color: dodgerblue;
    color: #ffffff;
}